@import "_movie_card";
@import "utils/import_once";

@include exports('latest') {

  .wrap-latest {

    width: 90%;
    margin: auto;

    h2 {
      color: white;
      font-size: 2em;
    }

  }

}