html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #081c24;
  font-family: Verdana;
  color: white; }

#view-main {
  width: 100%;
  height: 100%; }

.clear::after {
  content: "";
  clear: both;
  display: table; }

.wrap-nav {
  position: relative;
  z-index: 10; }
  .wrap-nav ul {
    text-align: right;
    margin: 0; }
    .wrap-nav ul li {
      display: inline-block;
      vertical-align: middle;
      margin: 1em 1em 1em 0; }
      .wrap-nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 2.15em;
        margin: 0.25em; }
        .wrap-nav ul li a:hover {
          text-decoration: underline;
          cursor: pointer; }

.ui-nav-pagination {
  margin-bottom: 15px; }
  .ui-nav-pagination p {
    display: inline-block; }
  .ui-nav-pagination a {
    color: white;
    text-decoration: none; }
    .ui-nav-pagination a:hover {
      text-decoration: underline;
      cursor: pointer; }

.wrap-home {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #081c24; }
  .wrap-home a {
    text-decoration: none; }
  .wrap-home h2 {
    display: inline-block;
    font-size: 2em;
    color: white;
    background-color: #01d277;
    border-radius: 25px;
    text-align: center;
    padding: 2em;
    margin: 4em 2em; }
  .wrap-home p {
    color: white; }

.movie_card_wrap {
  width: 50%;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 2em; }
  .movie_card_wrap .movie_card img {
    width: 50%;
    float: left;
    box-sizing: border-box; }
  .movie_card_wrap .movie_card .movie_card_info {
    width: 50%;
    float: left;
    padding: 2em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .movie_card_wrap .movie_card .movie_card_info p {
      color: white; }
    .movie_card_wrap .movie_card .movie_card_info .title {
      text-decoration: none; }
      .movie_card_wrap .movie_card .movie_card_info .title h3 {
        color: white; }
      .movie_card_wrap .movie_card .movie_card_info .title:hover {
        text-decoration: underline;
        text-decoration-color: white;
        cursor: pointer; }
    .movie_card_wrap .movie_card .movie_card_info .more {
      color: white;
      text-decoration: none; }
      .movie_card_wrap .movie_card .movie_card_info .more:hover {
        text-decoration: underline;
        text-decoration-color: white;
        cursor: pointer; }

.wrap-latest {
  width: 90%;
  margin: auto; }
  .wrap-latest h2 {
    color: white;
    font-size: 2em; }

.wrap-future {
  width: 90%;
  margin: auto; }
  .wrap-future h2 {
    color: white;
    font-size: 2em; }

p {
  color: white; }

.backdrop, .overlay {
  width: 100%;
  height: 600px;
  background-color: rgba(8, 28, 36, 0.6);
  position: absolute;
  top: 0;
  left: 0; }

.movie_single_wrapper {
  position: relative;
  width: 55%;
  margin: auto; }
  .movie_single_wrapper img {
    width: 40%;
    float: left; }

.movie_single_info {
  padding: 1em;
  width: 50%;
  float: left; }
  .movie_single_info a {
    color: white;
    text-decoration: none; }
    .movie_single_info a:hover {
      text-decoration: underline;
      cursor: pointer; }

/*# sourceMappingURL=main.css.map */
